.screen-header_find-page{
  position: relative;
}

.cog-notification{
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2px;
  bottom: 18px;
}