.user-component{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-component .user-component_column:first-child{
  display: flex;
  align-items: center;
}

.user-component .user-component_column:last-child{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.user-component_avatar{
  width: 65px;
  height: 65px;
  border: 1px solid black;
  border-radius: 22px;
  margin-right: 20px;
}

.user-component_title {
  font-weight: 600;
  font-size: 22px;
}

.user-component_subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component_avatar-xl{
  width: 75px;
  height: 75px;
  border-radius: 25px;
}

.user-component_avatar-sm{
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.user-component_title-not-bold{
  font-weight: 400;
}

.friends-screen_channel{
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}

.user-component_alarm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.user-component_time{
  margin-bottom: 5px;
}